.dialogs {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs__items .active {
  color: red;
}

.dialogs__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.dialogs__items {
  padding-left: 10px;
}
